doctype html
html
	head
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		div.wrap
			div.box
				ul.nav.c
					li
						a(href='#') 新闻
					li
						a(href='#') hao123
					li
						a(href='#') 地图
					li
						a(href='#') 视频
					li
						a(href='#') 贴吧
					li
						a(href='#') 学术
					li
						a(href='#') 登录
					li
						a(href='#' id="btn") 设置
							ul.list
								li
									a(herf='#') 搜索设置
								li
									a(herf='#') 高级搜索
								li
									a(herf='#') 关闭预测
								li
									a(herf='#') 搜索历史
					li
						a(href='#' id='b') 更多产品
		div.con.c
			div.content
				p
					img(src='/images/bd_logo1.png')
					
				div.sear.c
					input(type="search" id='item')
					
					span 
						a(href='#') 百度一下
		div.foot.c
			dl
				dd 
					img(src='/images/2.png')
				dt 手机百度
			ul.f_nav
				li
					a(href='#') 把百度设为主页
				li
					a(href='#') 关于百度
				li
					a(href='#') About Baidu
				li
					a(href='#') 百度推广
			div.f_list
				p 
					a(href='#') ©2017 Baidu 使用百度前必读 意见反馈 京ICP证030173号
					img(src='/images/4.jpg')
				p
					a(href='#') 京公网安备11000002000001号
					img(src='/images/3.jpg')
			
